
aside {
    font-size: 16px;
    background-color: orangered;
    max-height: 100vh;
    max-width: 270px;
    position: sticky;
    // top: 400px;
    // inset: 0;
    overflow-x: scroll;
    scrollbar-color: grey;
    scrollbar-width: thin;
    overflow-x: hidden;
    z-index: 4;
    .aside-nav {
        display: flex;
        // justify-content: space-around;
        align-items: center;
        gap: 1em;
        padding-left: .1em;
        .burger-nav {
            &:hover {
                background-color: transparent;
            }
        }
        span.h4 {
            margin-right: .4em;
        }
        a {
            position: relative;
            &:hover {
                color: inherit;
            }
        }
        sup {
            position: absolute;
            top: -.3em;
        }
        margin: 0;
        padding: 0;
    }
}

.aside-content {
    padding-block: 1em;
    padding-inline: .4em;
    padding-top: 0;
    // background: linear-gradient(to right, #ff4500 280px, rgba(40, 40, 40, 0.403) 1%, rgba(40, 40, 40, 0.403));
    // max-width: 100vw;
    background-color: orangered;
    li {
        list-style: none;
    }
}
.aside-list {
    margin-inline: 0;
    ul {
        border-bottom: 1px solid black;
    }
    li {
        // border: 1px solid black;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        &:hover {
            background-color: grey;
        }
        span {
            white-space: nowrap;
        }
}
    a {
        padding: .5em;
        display: block;
        // background-color: olivedrab;
        span {
            &:nth-child(1) {
                margin-right: .8em;
            }
            &:hover:nth-child(2) {
                color: white;
            }
        }
    }
    h4 {
        padding-block: .6em;
    }
}


// aside test


// subscriptions 
#subscriptions {
    .fa {
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        // border: 1px solid black;
        overflow: hidden;
        background-color: grey;
    }
    a {
        display: flex;
        align-items: center;
    }
}

.aside-list {
    a {
    display: flex;
    align-items: center;
    }
}
