@mixin wrapper($point) {
    @if $point == "flex" {
        display: flex;
        gap: .4em;
    }
}
.wrapper {
    border: 1px solid black;
    // cursor: pointer;
}
.thumbnail {
    border: 1px solid black;
    height: 350px;
}


.details {
    #{&}-wrapper {
        display: grid;
    }
    #{&}__user {
        @include wrapper(flex);
    }
    // #{&}__
    // #{&}__
    // #{&}__
    #{&}-inline-details {
        @include wrapper(flex);
    }
    
}
.dot-details {
    ul {
        border: 1px solid black;
        width: fit-content;
        // background-color: rgb(0, 0, 0);
        // color: white;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        padding: .4em 0;
}
    li {
        &:hover {
            background-color: grey;
        }
    }
    a {
        display: block;
        // background-color: brown;
        padding: .8em 1em;
        widtH: 100%;
    }
    hr {
        color: black;
        border: none;
        height: .015em;
        background-color: black;
    }
}
.block-a {
    display: flex;
    gap: .8em;
}